*{
  margin: 0;
}
table {
  width: 90%;
  margin: auto;
  border: 1px solid red;
  border-spacing: 78px;
}
td {
  text-align: center;
  width: 15%;
  font-size: 200%;
  border: 1px solid red;
  border-radius: 200%;
}
tr {
  width: 15%;
}
.empty {
  border: none;
}
